<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>
        Siga - sistema integrado de gestão acadêmica 
    </description>
    <display-name>Siga</display-name>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.base.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>servlet.base.Inicio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>HistoricoAluno</servlet-name>
        <servlet-class>servlet.aluno.HistoricoAluno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HistoricoAluno</servlet-name>
        <url-pattern>/HistoricoAluno</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Horarios</servlet-name>
        <servlet-class>servlet.aluno.Horarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Horarios</servlet-name>
        <url-pattern>/Horarios</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Notas</servlet-name>
        <servlet-class>servlet.aluno.Notas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Notas</servlet-name>
        <url-pattern>/Notas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Faltas</servlet-name>
        <servlet-class>servlet.aluno.Faltas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faltas</servlet-name>
        <url-pattern>/Faltas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Matricula</servlet-name>
        <servlet-class>servlet.aluno.Matricula</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Matricula</servlet-name>
        <url-pattern>/Matricula</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>profHorarios</servlet-name>
        <servlet-class>servlet.professor.Horarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profHorarios</servlet-name>
        <url-pattern>/professor/horarios</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>profNotas</servlet-name>
        <servlet-class>servlet.professor.Notas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profNotas</servlet-name>
        <url-pattern>/professor/notas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>profChamada</servlet-name>
        <servlet-class>servlet.professor.Chamada</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profChamada</servlet-name>
        <url-pattern>/professor/chamada</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>cadastrarAluno</servlet-name>
        <servlet-class>servlet.coordenador.aluno.CadastrarAluno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cadastrarAluno</servlet-name>
        <url-pattern>/coordenador/cadastrarAluno</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cadastrarProfessor</servlet-name>
        <servlet-class>servlet.coordenador.professor.CadastrarProfessor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cadastrarProfessor</servlet-name>
        <url-pattern>/coordenador/cadastrarProfessor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>alunoCadastrado</servlet-name>
        <servlet-class>servlet.coordenador.aluno.AlunoCadastrado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>alunoCadastrado</servlet-name>
        <url-pattern>/coordenador/alunoCadastrado</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>professorCadastrado</servlet-name>
        <servlet-class>servlet.coordenador.professor.ProfessorCadastrado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>professorCadastrado</servlet-name>
        <url-pattern>/coordenador/professorCadastrado</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>verProfessores</servlet-name>
        <servlet-class>servlet.coordenador.professor.VerProfessores</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verProfessores</servlet-name>
        <url-pattern>/coordenador/verProfessores</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>verAlunos</servlet-name>
        <servlet-class>servlet.coordenador.aluno.VerAlunos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verAlunos</servlet-name>
        <url-pattern>/coordenador/verAlunos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editarAluno</servlet-name>
        <servlet-class>servlet.coordenador.aluno.EditarAluno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editarAluno</servlet-name>
        <url-pattern>/coordenador/editarAluno</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>alunoEditado</servlet-name>
        <servlet-class>servlet.coordenador.aluno.AlunoEditado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>alunoEditado</servlet-name>
        <url-pattern>/coordenador/alunoEditado</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>apagarAluno</servlet-name>
        <servlet-class>servlet.coordenador.aluno.ApagarAluno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>apagarAluno</servlet-name>
        <url-pattern>/coordenador/apagarAluno</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Materias</servlet-name>
        <servlet-class>servlet.coordenador.VerMaterias</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Materias</servlet-name>
        <url-pattern>/coordenador/materias</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastrarMateria</servlet-name>
        <servlet-class>servlet.coordenador.CadastrarMateria</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarMateria</servlet-name>
        <url-pattern>/coordenador/cadastrarMateria</url-pattern>
    </servlet-mapping>
</web-app>
