<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>
        Siga - sistema integrado de gestão acadêmica 
    </description>
    <display-name>Siga</display-name>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>servlet.base.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoricoAluno</servlet-name>
        <servlet-class>servlet.aluno.HistoricoAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Horarios</servlet-name>
        <servlet-class>servlet.aluno.Horarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notas</servlet-name>
        <servlet-class>servlet.aluno.Notas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faltas</servlet-name>
        <servlet-class>servlet.aluno.Faltas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>horarios</servlet-name>
        <servlet-class>servlet.professor.horarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notas</servlet-name>
        <servlet-class>servlet.professor.notas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chamada</servlet-name>
        <servlet-class>servlet.professor.chamada</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.base.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoricoAluno</servlet-name>
        <url-pattern>/HistoricoAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Horarios</servlet-name>
        <url-pattern>/Horarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notas</servlet-name>
        <url-pattern>/Notas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faltas</servlet-name>
        <url-pattern>/Faltas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Matricula</servlet-name>
        <servlet-class>servlet.aluno.Matricula</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Matricula</servlet-name>
        <url-pattern>/Matricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>horarios</servlet-name>
        <url-pattern>/professor/horarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notas</servlet-name>
        <url-pattern>/professor/notas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chamada</servlet-name>
        <url-pattern>/professor/chamada</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cadastrarAluno</servlet-name>
        <servlet-class>servlet.coordenador.CadastrarAluno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cadastrarAluno</servlet-name>
        <url-pattern>/coordenador/cadastrarAluno</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>alunoCadastrado</servlet-name>
        <servlet-class>servlet.coordenador.AlunoCadastrado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>alunoCadastrado</servlet-name>
        <url-pattern>/coordenador/alunoCadastrado</url-pattern>
    </servlet-mapping>
</web-app>
